@charset "utf-8";
body { background: #FFFFFF;}
.header { width: 100%;}
.logo { width: 100%; margin: 0 auto;}

.logo { height: 150px; background: url(../../../upload/news/month_1603/201603050911562345.jpg) no-repeat center top ;}

.DH { height: 45px; background: #285d85; position: relative; z-index: 99999;}
#nav { width: 1196px; height: 45px; line-height: 45px; padding: 0 2px; margin: 0 auto; background: #285d85; position: relative;}
#nav ul li.mainlevel { width: 92px; height: 45px; text-align: center; float: left; font-size: 16px;}
#nav ul li.mainlevel .nav-a { color: #fff;}
#nav ul li.mainlevel:hover { background: #9d2b2b;}
#nav ul li.mainlevel:hover .nav-a { color: #fff;}
#nav ul { display: block;}
#nav ul li.mainlevel div { width: 460px; height: 85px; background: #e5eff7; position: absolute; padding: 20px; display: none; font-size: 14px;}
.mainlevel div ol { display: block; width: 260px; float: left; overflow: hidden;}
.mainlevel div li { display: block; border-bottom: 1px dotted #ccc; line-height: 27px; width: 260px; height: 27px;}
.mainlevel div li a { display: block; float: left; min-width: 80px; height: 27px;}
.mainlevel div li a:hover { color: #9d2b2b;}
.mainlevel div .nav-img { float: right; display: inline-block;}
.mainlevel div span img { width: 165px; height: 85px;}
#sub_00 { left: 2px ;}
#sub_01 { left: 94px; top:45px;}
#sub_02 { left: 186px; top:45px;}
#sub_03 { left: 278px; top:45px;}
#sub_04 { left: 370px; top:45px;}
#sub_05 { left: 462px; top:45px;}
#sub_06 { left: 554px; top:45px;}
#sub_07 { right: 554px; top:45px;}
#sub_08 { right: 370px; top:45px;}
#sub_09 { right: 278px; top:45px;}
#sub_10 { right: 186px; top:45px;}
#sub_11 { right: 94px; top:45px;}
#sub_12 { right: 2px ;}

.slide { height: 410px; background: #C9C9C9; position: relative;}
.banner { height: 410px; overflow: hidden;}
.banner .d1 { width: 100%; height: 410px; display: block; overflow:hidden;}
.banner .d1 img{ display:block; margin:0 auto;}
.banner .d2 { width: 100%; height: 30px; clear: both; position: absolute; z-index: 100; left: 0px; top: 370px;}
.banner .d2 ul { float: left; position: absolute; left: 50%; top: 0; margin: 0 0 0 -96px; display: inline;}
.banner .d2 li { width: 17px; height: 15px; overflow: hidden; cursor: pointer; background: url(../images/img1.png) no-repeat center; float: left; margin: 0 3px; display: inline;}
.banner .d2 li.nuw { background: url(../images/img1_1.png) no-repeat center;}

.wrap { width: 1200px; margin: 30px auto;}
.xyxw_box{ width:600px; height:435px;}
.xyxw_box .box_tit{ width:600px; height:40px; line-height:40px; margin-bottom:20px;}
.xyxw_box .box_tit .box_t1{ width:100px; height:38px; border-bottom:2px solid #f99626; text-align:center;}
.xyxw_box .box_tit span{ display:block; font-size:20px; color:#9d2b2b;}
.xyxw_box .box_tit .box_t2{ width:500px; height:38px; border-bottom:2px solid #285d85;}
.xyxw_box .box_tit a{ right: 10px; top: 0; font-size:14px; color:#9d2b2b;}
.xyxw_box .box_con{ height:375px;}
.xyxw_box .box_con .pic{ width:220px; height:165px; background:#C3C3C3;}
.xyxw_box .box_con .xyxw{ width:350px; padding:5px; height:20px; line-height:20px; text-align:center;}
.xyxw_box .box_con .xyxw a{ display:block; font-size:18px; color:#285d85;}
.xyxw_box .box_con .desc{ width:350px; height:125px; padding:5px;}
.xyxw_box .box_con .desc a{ display:block; height:40px; line-height:40px; font-size:14px;}
.xyxw_box .list_xyxw{ width:600px; height:174px; border-top:1px dotted #cecece; margin-top:25px;}
.xyxw_box .list_xyxw li{ display:block; height:35px; font-size:14px; line-height:35px; position: relative;}
.xyxw_box .list_xyxw li a{ display:block; text-indent:1em;}
.xyxw_box .list_xyxw li span{ position: absolute; right: 10px; top: 0;}

.jyjx{ width:570px; height:435px;}
.jyjx .box_tit{ width:570px; height:40px; line-height:40px; margin-bottom:20px;}
.jyjx .box_tit .box_t1{ width:100px; height:38px; border-bottom:2px solid #f99626; text-align:center;}
.jyjx .box_tit span{ display:block; font-size:20px; color:#9d2b2b;}
.jyjx .box_tit .box_t2{ width:470px; height:38px; border-bottom:2px solid #285d85;}
.jyjx .box_tit a{ right: 10px; top: 0; font-size:14px; color:#9d2b2b;}
.jyjx .list_pic_jyjx{ width:570px; height:375px; font-size:14px ;}
.jyjx .list_pic_jyjx dt{ display:block; width:570px; height:124px; border-bottom:1px dotted #cecece; margin-bottom:5px;}
.jyjx .list_pic_jyjx dt .rl{ width:86px; height:86px; padding:2px; background:#9d2b2b;}
.jyjx .list_pic_jyjx dt .rl .tm{ width:86px; height:59px; line-height:59px; background:#FFFFFF;}
.jyjx .list_pic_jyjx dt .rl .tm span{ display:block; color:#9d2b2b; font-size:48px; text-align:center;}
.jyjx .list_pic_jyjx dt .rl .time{ width:86px; height:27px; line-height:27px;}
.jyjx .list_pic_jyjx dt .rl .time span{ display:block; font-size:18px; text-align:center; color:#FFFFFF;}
.jyjx .list_pic_jyjx .jyjx{ width:460px; padding-left:20px; height:20px; line-height:20px; text-align:center;}
.jyjx .list_pic_jyjx .jyjx a{ display:block; font-size:18px; color:#285d85;}
.jyjx .list_pic_jyjx .desc{ width:450px; padding-left:20px; height:80px; line-height:40px;}
.jyjx .list_pic_jyjx li{ display:block; height:39px; position: relative; background:url(../images/xyxw_li.png) no-repeat 10px center; border-bottom:1px dotted #cecece;}
.jyjx .list_pic_jyjx li a { display: block; line-height:39px; text-indent:3em;}
.jyjx .list_pic_jyjx li span { position: absolute; right: 10px; top: 0; line-height:39px;}

.kycg_box { width: 600px; height: 365px;}
.kycg_box .box_tit { width: 600px; height: 40px; line-height: 40px;}
.kycg_box .box_tit .box_t1 { width: 100px; height: 38px; border-bottom: 2px solid #f99626; text-align: center ;}
.kycg_box .box_tit span { display: block; font-size: 20px; color: #9d2b2b ;}
.kycg_box .box_tit .box_t2 { width: 500px; height: 38px; border-bottom: 2px solid #285d85;}
.kycg_box .box_tit a { right: 10px; top: 0; font-size: 14px; color: #9d2b2b ;}
.kycg_box .box_img { height: 165px; margin: 20px 0 19px; background: #A7A7A7;}
.kycg_box .list_kycg { height: 120px; border-top: 1px dotted #cecece;}
.kycg_box .list_kycg li { display: block; height: 40px; font-size: 14px; line-height: 40px; position: relative;}
.kycg_box .list_kycg li a { display: block; text-indent: 1em;}
.kycg_box .list_kycg li span { position: absolute; right: 10px; top: 0;}
.kjxn_box { width: 570px; height: 365px;}
.kjxn_box .box_tit { width: 570px; height: 40px; line-height: 40px;}
.kjxn_box .box_tit .box_t1 { width: 100px; height: 38px; border-bottom: 2px solid #f99626; text-align: center ;}
.kjxn_box .box_tit span { display: block; font-size: 20px; color: #9d2b2b ;}
.kjxn_box .box_tit .box_t2 { width: 470px; height: 38px; border-bottom: 2px solid #285d85;}
.kjxn_box .box_tit a { right: 10px; top: 0; font-size: 14px; color: #9d2b2b ;}
.kjxn_box .box_img { height: 165px; margin: 20px 0 19px;}
.kjxn_box .box_img .pic { width: 220px; height: 165px; background: #C9C9C9 ;}
.kjxn_box .box_img .text { width: 330px; height: 165px;}
.kjxn_box .box_img .kjxn { height: 20px; line-height: 20px;}
.kjxn_box .box_img .kjxn a { display: block; font-size: 18px; color: #285d85 ;}
.kjxn_box .box_img .desc { height: 90px; line-height: 30px ;}
.kjxn_box .box_img .desc a { display: block; font-size: 14px;}
.kjxn_box .list_kjxn { height: 120px; border-top: 1px dotted #cecece;}
.kjxn_box .list_kjxn li { display: block; height: 40px; font-size: 14px; line-height: 40px; position: relative;}
.kjxn_box .list_kjxn li a { display: block; text-indent: 1em;}
.kjxn_box .list_kjxn li span { position: absolute; right: 10px; top: 0;}
.xqzp_box { width: 590px; height: 225px;}
.xqzp_box .xqzp { width: 270px; height: 225px; padding: 0 10px; background: #21b7c6 ;}
.xqzp_box .xqzp .box_tit { height: 40px; line-height: 40px;}
.xqzp_box .xqzp .box_tit a { display: block; color: #FFFFFF; font-size: 20px;}
.xqzp_box .xqzp .desc { height: 60px; line-height: 30px;}
.xqzp_box .xqzp .desc a { display: block; color: #FFFFFF ;}
.xqzp_box .xqzp .list_xqzp { height: 120px; line-height: 40px;}
.xqzp_box .xqzp .list_xqzp li { display: block; height: 40px;}
.xqzp_box .xqzp .list_xqzp li a { display: block; color: #FFFFFF ;}
.xqzp_box .pic { width: 300px; height: 225px; background: #C7C7C7;}
.zpxx_box { width: 580px; height: 225px; margin: 30px 0 ;}
.zpxx_box .zpxx { width: 260px; height: 225px; padding: 0 10px; background: #ec6841 ;}
.zpxx_box .zpxx .box_tit { height: 40px; line-height: 40px;}
.zpxx_box .zpxx .box_tit a { display: block; color: #FFFFFF; font-size: 20px;}
.zpxx_box .zpxx .desc { height: 60px; line-height: 30px;}
.zpxx_box .zpxx .desc a { display: block; color: #FFFFFF ;}
.zpxx_box .zpxx .list_zpxx { height: 120px; line-height: 40px;}
.zpxx_box .zpxx .list_zpxx li { display: block; height: 40px;}
.zpxx_box .zpxx .list_zpxx li a { display: block; color: #FFFFFF ;}
.zpxx_box .pic { width: 300px; height: 225px; background: #C7C7C7;}
.zyjn_box { height: 275px;}
.zyjn_box .box_tit { height: 40px; line-height: 40px;}
.zyjn_box .box_tit .box_t1 { width: 130px; height: 38px; border-bottom: 2px solid #f99626; text-align: center;}
.zyjn_box .box_tit .box_t1 span { display: block; font-size: 20px; color: #9d2b2b ;}
.zyjn_box .box_tit .box_t2 { width: 1070px; height: 38px; border-bottom: 2px solid #285d85;}
.zyjn_box .box_tit a { right: 10px; top: 0; font-size: 14px; color: #9d2b2b ;}
.zyjn_box .list_img_zyjn { display: block;}
.zyjn_box .list_img_zyjn li { display: block; width: 220px; height: 205px; padding: 0 10px; float: left;}
.zyjn_box .list_img_zyjn li a { display: block;}
.zyjn_box .list_img_zyjn li .img { display: block; width: 218px; height: 163px; border: 2px solid #57152a; overflow: hidden;}
.zyjn_box .list_img_zyjn li .zyjn { height: 35px; line-height: 35px; text-align: center;}
.xthd_box { height: 415px;}
.xthd_box .box_tit { height: 40px; line-height: 40px; margin-bottom: 15px;}
.xthd_box .box_tit .box_t1 { width: 100px; height: 38px; border-bottom: 2px solid #f99626; text-align: center;}
.xthd_box .box_tit .box_t1 span { display: block; font-size: 20px; color: #9d2b2b ;}
.xthd_box .box_tit .box_t2 { width: 1100px; height: 38px; border-bottom: 2px solid #285d85;}
.xthd_box .box_tit a { right: 10px; top: 0; font-size: 14px; color: #9d2b2b ;}
.xthd_box .left_pic { width: 855px; height: 355px;}
.xthd_box .left_pic .paly { float: left; width: 255px; height: 175px; margin: 5px 30px 0 0; background: #868686 ;}
.xthd_box .left_pic .img { display: block; width: 255px; height: 145px; overflow: hidden;}
.xthd_box .left_pic .xyh { height: 30px; line-height: 30px; background: #eeeeee; text-indent: 10px;}
.xthd_box .right_box { width: 340px; height: 355px; margin: 5px 0 0 5px ;}
.xthd_box .right_box .xtxw { height: 17px; line-height: 17px; background: url(../images/xtxw.png) no-repeat 10px center;}
.xthd_box .right_box .xtxw a { display: block; text-indent: 2em; color: #2c6288 ;}
.xthd_box .right_box .box_con { width: 340px; height: 276px;}
.xthd_box .right_box .box_con .time { width: 20px;}
.xthd_box .right_box .box_con .time .con { width: 20px; height: 20px; line-height: 20px; padding: 13px 0; text-align: center;}
.xthd_box .right_box .box_con .time .con span { display: block; color: #FFFFFF; height: 20px; background: #2c6288;}
.xthd_box .right_box .list_xthd { width: 320px; height: 276px;}
.xthd_box .right_box .list_xthd li { height: 20px; line-height: 20px; padding: 13px 0;}
.xthd_box .right_box .list_xthd li a { display: block; height: 20px; background: #f0f0f0; text-indent: 10px;}
.xthd_box .right_box .xtjg { width: 340px; height: 55px; line-height: 55px; background: #2c6288 url(../images/xtjg.png) no-repeat 10px center; margin-top: 7px;}
.xthd_box .right_box .xtjg a { display: block; font-size: 24px; color: #FFFFFF; text-align: center;}
.xyh_box { width: 1200px; height: 220px;}
.xyh_box .box_tit { height: 30px; line-height: 30px;}
.xyh_box .box_tit .box_t1 { width: 95px; height: 30px; text-align: center; background: #9d2b2b ;}
.xyh_box .box_tit .box_t1 a { display: block; font-size: 20px; color: #FFFFFF ;}
.xyh_box .box_tit .box_t2 { width: 1105px; height: 30px; background: #dfdfdf ;}
.xyh_box .imgnew { width: 1164px; height: 160px; padding: 30px 18px 0; background: #f7f7f7; position: relative;}
.xyh_box .list_img_xyh { display: block;}
.xyh_box .list_img_xyh li { display: block; width: 150px; height: 155px; padding: 0 22px; float: left ;}
.xyh_box .list_img_xyh li a { display: block;}
.xyh_box .list_img_xyh li .img { display: block; width: 150px; height: 115px; overflow: hidden; background: #E4E4E4 ;}
.xyh_box .list_img_xyh li .xyh { height: 40px; line-height: 40px; text-align: center;}
.arrow_left { position: absolute; left: 10px; bottom: 95px; width: 7px; height: 14px; background: url(../images/xyh.png) no-repeat left center;}
.arrow_right { position: absolute; right: 10px; bottom: 95px; width: 7px; height: 14px; background: url(../images/xyh_r.png) no-repeat left center;}
.footer { width: 100%; height: 210px; background: url(../images/footer_bg.jpg) repeat-x left;}
.footer .foot { width: 1200px; height: 210px; margin: 0 auto;}
.footer .foot .l_pic { width: 195px; height: 210px; background: url(../images/footer_s.png) no-repeat center top; text-align: center;}
.footer .foot .l_pic span { display: block; height: 45px; line-height: 15px; margin-top: 90px; font-size: 10px; color: #9f9fa1 ;}
.footer .foot .ct { width: 120px; height: 5px; background: #9f9fa1; margin: 10px auto ;}
.footer .foot .r_txt { width: 1005px; height: 210px; position: relative;}
.footer .foot .r_txt .link { width: 1005px; height: 25px; line-height: 25px; margin: 40px 0 20px;}
.footer .foot .r_txt .link a { display: block; float: left; margin: 0 10px;}
.footer .foot .r_txt .copyright { width: 500px; height: 75px; padding-left: 10px; line-height: 25px;}
.footer .foot .r_txt .copyright span { display: block;}
.footer .foot .r_txt .wxwb { position: absolute; right: 100px; bottom: 65px; width:300px; overflow: hidden;}
.column_l { width: 220px; min-height: 500px; margin-right:40px;}
.column_l .zy_box{ width:220px;}
.column_l .zy_box .box_tit{ height:38px; line-height:38px; border-bottom:2px solid #285d85;}
.column_l .zy_box .box_tit span{ display:block; text-indent:30px; font-size:20px; color:#9d2b2b;}
.demopage { width: 220px; background:#FFFFFF; overflow: hidden;}
.srch{ display:block; width:300px; height:25px; overflow: hidden;}
.srch li{ display:block; float: left;}
.srch li input{ border:0 none; background:none; line-height:25px;}
.srch li input.key{ width:160px; height:25px; margin-right:5px; text-indent:10px; background:url(../images/key_bg.png) no-repeat; color:#333;}
.srch li input.btn{ width:60px; height:25px; background:url(../images/btn_bg.png) no-repeat; color:#000000;}

/* sidenav */
ul.sidenav { float: left; width: 220px; list-style: none;}
ul.sidenav li { position: relative; float: left; margin: 0; padding: 0;}
ul.sidenav li a { border-bottom: 1px solid #e9e9e9; padding: 10px 0; display: block; color:#000000 ; text-decoration: none; width: 220px; background:url(../images/xyxw_li.png) no-repeat 10px center; position: relative; z-index: 2; text-indent:2em;}
ul.sidenav li a:hover, ul.sidenav li a.current { width:220px; background-color: #004c8d; border-top: 1px solid #1a4c76; color:#FFFFFF;}

.column_l .news { width: 219px; height: 299px; border-left: 1px solid #e9e9e9; border-top: 1px solid #e9e9e9; background: url(../images/icon_1.png) no-repeat 10px -5px;}
.column_l .news .box_tit { height: 39px; line-height: 39px; border-bottom: 1px solid #e9e9e9;}
.column_l .news .box_tit span { display: block; color: #9d2b2b; font-size: 20px; text-indent: 75px;}
.column_l .list_news { width: 220px; height: 185px; padding: 10px 0;}
.column_l .list_news li { display: block; height: 40px; line-height: 40px; background: url(../images/list_news.png) no-repeat left center;}
.column_l .list_news li a { display: block; text-indent: 30px;}
.column_m { width: 940px; min-height: 500px;}
.column_m .zy_nav { height: 39px; line-height: 39px; border-bottom: 1px solid #e9e9e9; position: relative;}
.column_m .zy_nav i { display: block; float: left; font-size: 20px; text-indent: 10px;}
.column_m .zy_nav span { display: block; float: right; margin: 0 5px;}
.column_m .zy_nav span a { margin: 0 1px;}
.list_column_m { width: 920px;}
.list_column_m li { display: block; height: 39px; line-height: 39px; border-bottom: 1px dotted #e9e9e9; background: url(../images/list.png) no-repeat 10px center; position: relative ;}
.list_column_m li a { display: block; text-indent: 2em; font-size: 14px;}
.list_column_m li span { position: absolute; right: 10px; top: 0;}
.column_m .nr { padding: 20px 20px;}
.column_m .nr .nr_bt { line-height: 40px; font-size: 20px; text-align: center; margin-bottom: 10px;}
.column_m .nr .nr_text { line-height: 40px;}
.column_m .nr .nr_text img { display: block; margin: 0 auto; padding: 5px; max-width: 700px;}
.column_m .nr .nr_text .video { width: 640px; height: 480px; margin: 0 auto 10px auto;}
.pagelink { width: 100%; text-align: center; height: 30px; line-height: 30px;}
.pagelink a, .pagelink span { padding: 0 5px;}
.pagelink a.on, .pagelink a:hover { color: #F9003B;}