/*鍏叡閮ㄥ垎*/
.wc1200{margin:0 auto;width:1200px;}
.fl{float:left;}
.fr{float:right;}
.mt20{margin-top:20px;}
.icon{background:url(../images/icon.png) no-repeat 0 0;}

.warp-pic-list li{float:left;display:inline;}
.warp-pic-list .img_wrap{display:block;font-size:0;overflow:hidden;}
.warp-pic-list .text-area{background-color:#f2f2f2;line-height:24px;}
/*鍏ㄥ眬鏉垮潡*/

/*鍏ㄥ眬椤电*/
.tab-T-3{width:66px;}
.tab-T-3 li{width:12px;height:12px;font-size:0;background-color:#dfdfdf;float:left;margin-left:10px;cursor:pointer;display:inline;}
.tab-T-3 li.cur{background-color:#d81c1b;}
/*鐑棬杞﹀瀷*/
.rowE .warp-pic-list{width:1164px; height:160px; padding:30px 18px 0; background:#f7f7f7; position:relative; overflow:hidden;}
.rowE .count li{display:block; width:150px; height:155px; padding:0 22px; float:left; overflow:hidden;}
.rowE .count .img_wrap{display:block; width:150px; height:115px; overflow:hidden; background:#E4E4E4;}
.rowE .count li .text-area{ width:150px; height:40px; line-height:40px; text-align:center;}
.rowE .count li .text-area  p{line-height:24px;height:24px;}
.rowE .count li:hover .text-area,.rowE .count li.hover .text-area{background-color:#d81c1b;color:#fff;}
.rowE .count .p-num{font-family:"Tahoma";font-weight:bold;}
.rowE .btn{display:block;height:55px;position:absolute;top:78px;width:35px;z-index:200;cursor:pointer;}
.rowE .prev{ background-position:0 -88px;left:0;}
.rowE .prev:hover{background-position:0 -144px;}
.rowE .next{ background-position:0 -200px;right:0;}
.rowE .next:hover{background-position:0 -256px;}

#right1{ position:absolute; left:10px; bottom:95px; width:7px; height:14px; background:url(../images/xyh.png) no-repeat left center;}
#left1{ position:absolute; right:10px; bottom:95px; width:7px; height:14px; background:url(../images/xyh_r.png) no-repeat left center;}