<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/css/demo.css"/>
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="/css/component.css"/>
    <!--[if IE]>
    <script src="/js/html5.js"></script>
    <script src="/js/jquery-2.2.3.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <h3>欢迎你</h3>
                <form name="userForm" action="/admin/doLogin.html" name="f" method="post">
                    <div class="input_outer">
                        <span class="u_user"></span>
                        <input name="realname" class="text" style="color: #FFFFFF !important" type="text"
                               placeholder="请输入账户">
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input name="password" class="text"
                               style="color: #FFFFFF !important; position:absolute; z-index:100;" value=""
                               type="password" placeholder="请输入密码">
                    </div>
                    <div class="input_outer">
                        <span class="u_user"></span>
                        <input name="vcode" class="text"
                               style="color: #FFFFFF !important; position:absolute; z-index:100;" value="" type="text"
                               placeholder="请输入验证码">
                    </div>

                    <div class="input_outer">
                        <div class="verifyImg"><img id="verify" src="/public/imgcode.html"
                                                    onclick="this.src='/public/imgcode.html?_='+Math.floor(Math.random()*100)"
                                                    style="cursor:pointer;height:34px;width:100%"/></div>
                    </div>
                    <input type="hidden" name="type" value="normal" id="loginType">

                    <div class="mb2">
                        <a class="act-but submit" href="javascript:;"
                           onclick="visiterLogin()"
                           style="color: #FFFFFF">游客登录</a>
                    </div>
                    <div class="mb2">
                        <a class="act-but submit" href="javascript:;" onclick="document.userForm.submit();"
                           style="color: #FFFFFF">登录</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div><!-- /container -->
<script src="/js/TweenLite.min.js"></script>
<script src="/js/EasePack.min.js"></script>
<script src="/js/rAF.js"></script>
<script src="/js/demo-1.js"></script>

<script>
    <#if error??>
    alert('${error}');
    </#if>


    function visiterLogin() {
        var type=document.getElementById("loginType");
        type.value="visiter";
        document.userForm.submit();

    }
</script>
</body>
</html>
