<#include "header.html">

<script>
	$(document).ready(function(){
		$.ajax({
			url:'/api/titles.html',
			dataType: 'json',
			type: 'get',
			async: false,
			success:function(data){
				var obj=$("#titleUl");
				var wrap=$("#wrap_index");
				if(data.code==1){
					for(var i=0;i<data.data.length;i++){
						var o=data.data[i];
						var t='<li id="mainlevel_'+o.titleId+'" class="mainlevel"><a class="nav-a" href="index.htm">'+o.titleName+'</a></li>';
						obj.append(t);
						
						<#--  var j='<div class="xyxw_box mb30 mr30 fl" id="title_detail_'+o.titleId+'" titleId="'+o.titleId+'"> </div>';
						wrap.append(j);-->
					}
				}
			}
		})
	});
	function loadChildArticles(obj){
		var titleParentId=$(obj).attr("titleId");
		alert(titleParentId);
	}
</script>




<body>
  <div class="header clearfix">
    <div class="logo" style="overflow: hidden;">
      <img src="images/201603050911562345.jpg" alt="" />
    </div>
    <div class="DH">
      <div id="nav">
        <!--#begineditable name="网站导航" viewid="194909" tagname="网站导航" action="" layout="" contype="" stylesysid="" template="" tplstyle="" clone="" istemp=""-->
        <ul id="titleUl">
          
          </ul>
        </div>
      </div>
      <!-- 轮播图开始-->
      <div id="lb">
        <div id="banner">
          <ul class="sliderPage">
            <li class="first"><img src="images/banner3.jpg" alt=""></li>
            <li><img src="images/banner3.jpg" alt=""></li>
            <li><img src="images/banner3.jpg" alt=""></li>
            <li><img src="images/banner3.jpg" alt=""></li>
            <li><img src="images/banner3.jpg" alt=""></li>
          </ul>
        </div>
        <div id="banner_dot">
          <ul>
            <li class="blue"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      <!-- 轮播图结束-->

      <!--新闻开始-->

</div>


      <div class="wrap clearfix" id="wrap_index">
      <#list titleDTOLsit as item>
       <div class="xyxw_box mb30 mr30 fl">

          <div class="box_tit po">

            <div class="box_t1 fl"><span>${item.titleName}</span></div>
            <div class="box_t2 fr"></div>
            <a href="xyxw.htm" target="_blank" class="poa">更多+</a>
          </div>
			<#list item.articles as detail>
				<#-- title对应的图片 -->
	          <div class="box_con">
		           <div class="pic mr20 fl"><div id="KinSlideshow" style="visibility:hidden;"> 
			           <a href="info/1025/1482.htm" target="_blank" style="display: block;">
			            <img src="images/A173B9C6040CB7A33422EF2B070_5348CE18_25FD7.jpg" alt="校领导到农学院调研" width="220" height="165" />
			          </a>
			          <a href="info/1025/1027.htm" target="_blank">
			            <img src="images/201508101514048440.png" alt="我院“三区”人才助力脱贫工作取得成效" width="220" height="165" />
			          </a>
			          <a href="info/1025/1026.htm" target="_blank">
			            <img src="images/201508101514048440.png" alt="吉林省教育厅厅长一行人到我院基地调研" width="220" height="165" />
			          </a>
		          </div>
	       	  </div>
			<#-- 这是放大显示的,直接第一个就行 -->
			  <#if detail_index == 0>
	          <div class="desc fl"><a href="/article/detail/${detail.articleId?c}.html" target="_blank">&nbsp;&nbsp;&nbsp; ​${detail.articleName}</a></div>
	          </#if>
	          <!--#begineditable name="学院新闻" viewid="194965" tagname="学院新闻" action="" layout="" contype="" stylesysid="" template="" tplstyle="" clone="" istemp=""-->
	          <ul class="list_xyxw fl">
	            <li><a href="/article/detail/${detail.articleId?c}.html" target="_blank">[${item.titleName}]&#160;&#160;&#160;${detail.articleName}</a><span>${detail.createDate?string('yyyy-MM-dd hh:MM:ss')}</span></li>
	          </ul>
	          <!--#endeditable-->
	        </div>
	        </#list>
     </#list>>
     
   </div>

  </div>

</body>


<#include "footer.html">
