<!doctype html>
<html lang="ch">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="左右结构项目，属于大人员的社交工具">
    <meta name="keywords" content="左右结构项目 社交 占座 ">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>Bootstrap左右结构响应式后台管理模板</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/flat-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/01style.css">
</head>
<script>

	function loadChild(id){
		var parentDiv="#accordion-group"+id;
		var idName="#accordion-element-"+id;
		jQuery.get('/api/v1/title/'+id+'.html',function(data,textStatus,jqXHR){
			if(data.code==1){
				var obj=$(idName);
				var state=$(parentDiv).attr("state");
				if(state=='parent'){
					obj.attr("class","accordion-body collapse in");
					$(parentDiv).attr("state","child");
				}else{
					obj.attr("class","accordion-body collapse");
					$(parentDiv).attr("state","parent");
				}
				//这样判断是有问题的
				if(obj.html()!='')
				{
					return;
				}
				var a='';
				for(var i=0;i<data.data.length;i++){
					var o=data.data[i];
					a+='<div class="accordion-inner">';
					a+='<div class="title">'+o.titleName+'<em style="padding-left:200px">排序码:'+o.titleDisplaySeq+'</em></div><em style="padding-left:200px">缩写名称:'+o.titleAbbName+'</em></div> ';
					a+='<div class="btg"><button class="btn btn-danger btn-xs right" data-toggle="modal" data-target="#deleteSource"  titleId="'+o.titleId+'" onclick="del(this)">删除</button><button class="btn btn-success btn-xs right" data-toggle="modal" data-target="#changeSource" titleId="'+o.titleId+'" titleDisplaySeq="'+o.titleDisplaySeq+'" titleName="'+o.titleName+'" titleAbbName="'+o.titleAbbName+'"  onclick="beforeSave(this,false,true)">修改</button></div></div>';
				}
				a+='</div>';			
				obj.append(a);
			}
		},'json');
	}
	$(document).ready(function(){
		 $.ajax({
        url:'/api/v1/aboutTitles.html',
        type:'post',
        dataType:'json',
        success:function(data){
        	if(data.code==1){
        		var obj=$(".data-div");
        		for(var i=0;i<data.data.length;i++){
        			var o=data.data[i];
	        		var t='<div class="accordion-group" state="parent" id="accordion-group'+o.titleId+'"><div class="accordion-heading"><a class="accordion-toggle block"  href="javascript:void(0);" onclick="loadChild('+o.titleId+');">'+o.titleName+' <em style="padding-left:200px">排序码:'+o.titleDisplaySeq+'</em> <em style="padding-left:200px">缩写名称:'+o.titleAbbName+'</em>';
	        		t+='</a><div class="btg"><button class="btn btn-danger btn-xs right" data-toggle="modal" data-target="#deleteSource"  titleId="'+o.titleId+'" onclick="del(this)">删除</button><button class="btn btn-success btn-xs right" titleName="'+o.titleName+'" titleAbbName="'+o.titleAbbName+'" data-toggle="modal" data-target="#changeSource" titleId="'+o.titleId+'" titleDisplaySeq="'+o.titleDisplaySeq+'" onclick="beforeSave(this,false,true)">修改</button><add class="btn btn-add btn-xs right" data-toggle="modal" data-target="#changeSource" titleId="'+o.titleId+'" titleName="'+o.titleName+'"  onclick="beforeSave(this,true,false)">添加</add></div><a href="/admin/title/article/'+o.titleId+'.html" class="btn btn-success btn-xs right" >查看此类目下的所有文章</a></div><div class="accordion-body collapse" id="accordion-element-'+o.titleId+'" value="1"></div></div>';
        			obj.append(t);
        		}
        	}
        }
    })
 })


</script>
<body>
<div id="wrap">
    <!-- 右侧具体内容栏目 -->
    <div id="leftContent">
        <a class="toggle-btn" id="nimei">
            <i class="glyphicon glyphicon-align-justify"></i>
        </a>
        
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- 资源管理模块 -->
            <div role="tabpanel" class="tab-pane active" id="sour">
                <div class="check-div form-inline">
                    <button class="btn btn-yellow btn-xs" data-toggle="modal" data-target="#changeSource" onclick="beforeSave(this,false,false)">添加标题</button>
                </div>
                <div class="data-div" >
                    <div class="row tableHeader">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                            名称
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
                            操作
                        </div>
                    </div>
                    
            
                </div>
            </div>
        </div>
 
     <div class="modal fade" id="changeSource" role="dialog" aria-labelledby="gridSystemModalLabel">
        <form class="form-horizontal" id="titleForm" method="post" name="editTitleForm">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="gridSystemModalLabel">修改标题</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                                <div class="form-group ">
                                    <label for="" class="col-xs-3 control-label">名称：</label>
                                   <div class="col-xs-8 ">
                                        <input type="text"  class="form-control input-sm duiqi" id="titleName" name="titleName" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="" class="col-xs-3 control-label">缩写名称：</label>
                                   <div class="col-xs-8 ">
                                        <input type="text" name="titleAbbName" class="form-control input-sm duiqi" id="titleAbbName"  placeholder="如:学院介绍缩写为xyjs">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sName" class="col-xs-3 control-label">排序顺序</label>
                                    <div class="col-xs-8 ">
                                        <input type="text" titleName="titleDisplaySeq" id="titleDisplaySeq" class="form-control input-sm duiqi" id="xName" name="titleDisplaySeq"
                                               placeholder="">
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    	<input type="hidden" name="titleId" id="titleId" value="">
                    	<input type="hidden" name="titleParentId" id="titleParentId" value="0">
                    	
                        <button type="button" class="btn btn-xs btn-white" >取 消</button>
                        <button type="button" class="btn btn-xs btn-green" onclick="addOrUpdate()">保 存</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
            </form>
        </div>
      
        <!--弹出删除资源警告窗口-->
        <div class="modal fade" id="deleteSource2" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        确定要删除该标题？删除后不可恢复！
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                    <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal" onclick="delete(this)">确 定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>
<script type="text/javascript" src="/js/title-0.1.js"></script>
</body>

</html>