<#include "wrapper-up.html">
<section class="layui-larry-box">
	<div class="larry-personal">
	    <div class="layui-tab">
            <blockquote class="layui-elem-quote news_search">
		
		<div class="layui-inline">
		    <div class="layui-input-inline">
		    	<input value="" placeholder="请输入关键字" class="layui-input search_input" type="text">
		    </div>
		    <a class="layui-btn search_btn">查询</a>
		</div>

		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel">批量彻底删除</a>
		</div>
		<div class="layui-inline">
			注意,已经删除的文章,当超过删除时间10天之后将会自动删除,不可恢复
		</div>
	</blockquote>
            
		         <!-- 操作日志 -->
                <div class="layui-form news_list">
                    <table class="layui-table">
					    <colgroup>
						<col width="50">
						<col>
						<col width="9%">
						<col width="9%">
						<col width="9%">
						<col width="9%">
						<col width="9%">
						<col width="15%">
					</colgroup>
					<thead>
						<tr>
							<th><input name="" lay-skin="primary" lay-filter="allChoose" id="allChoose" type="checkbox">
								<div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>
							</th>
							<th style="text-align:left;">文章标题</th>
							<th>作者 </th>
							<th>删除人</th>
							<th>删除时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="news_content">
					<#if pageVO??>
						<#list pageVO.data as item>
							<tr>
								<td><input name="checked" lay-skin="primary" lay-filter="choose" type="checkbox">
									<div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>
								</td>
								<td align="left">${item.articleName}</td>
								<td>${item.articleAuthor}</td>
								<td>${item.username!"unknown"}</td>
								<td>${item.deleteDateStr!"unknow"}</td>
								<td>
									<input type="button" class="layui-btn layui-btn-mini news_edit" value="恢复" id="rollBackButton" onclick="rollBack(this)" articleId="${item.articleId?c}">
									<input type="button" class="layui-btn layui-btn-danger layui-btn-mini news_del"  value="彻底删除">
								</td>
							</tr>
						</#list>
					</#if>
					</tbody>
					</table>
                     <div class="larry-table-page clearfix">
                          <a href="javascript:;" class="layui-btn layui-btn-small"><i class="iconfont icon-shanchu1"></i>删除</a>
				          <div id="page" class="page">
							<#if pageVO??>
							      <form name="pageForm" action="/article/deleted.html" method="get">
								      	<input type="hidden" name="pageNum" value="${pageVO.pageNum}">
								      	<div id="page2" class="page">
											<div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-0">
												<span class="layui-laypage-curr">
								      			<em class="layui-laypage-em"></em>
								      			<em>当前第 ${pageVO.pageNum}页 总共有${pageVO.maxPage} </em>
								      		</span>
												<#if pageVO.pageNum==1><a href="javascript:void(0)">首页</a>	<#else><a href="javascript:void(0)" onclick="document.pageForm.pageNum.value=1;document.pageForm.submit();">首页</a>   </#if>
												<#if pageVO.pageNum<=1> <a href="javascript:void(0)">上一页</a><#else><a href="javascript:void(0)" onclick="document.pageForm.pageNum.value=(${pageVO.pageNum}-1);document.pageForm.submit();"> 上一页</a>  </#if>
												<#if (pageVO.pageNum>=pageVO.maxPage)> <a href="javascript:void(0)">下一页</a>  <#else><a href="javascript:void(0)" onclick="document.pageForm.pageNum.value=${pageVO.pageNum}+1;document.pageForm.submit();">下一页</a> </#if>		
												<#if (pageVO.pageNum>=pageVO.maxPage)> <a href="javascript:void(0)">最后一页</a> <#else> <a href="javascript:void(0)" onclick="document.pageForm.pageNum.value=${pageVO.maxPage};document.pageForm.submit();">最后一页</a> </#if>>
											</div>				          
								      </div>
							      </form>
							 </#if>
				          </div>
			         </div>
			    </div>
		    </div>
		</div>
	
</section>
<script>
	function rollBack(obj){
		var t=$(obj);
		var articleId=$(obj).attr("articleId");
		jQuery.post('/api/article/update/status.html',{"articleId":articleId,"articleStatus":0},function(data,textStatus,jqXHR){
			if(data.code==1){
				alert('恢复成功');
			}else{
				alert(data.msg);
			}
		},'json');	
	}
</script>
<#include "wrapper-down.html">
</body>
</html>