<#include "wrapper-up.html">
<script type="text/javascript">
	initkindEditor();
	var editor;
 	function initkindEditor() {
     KindEditor.ready(function (K) {
          editor = K.create('#edit_articleContent', {
             themeType: "simple",
             uploadJson: '/api/file/upload.html?articleId='+$("#edit_articleId").val(),
             resizeType: 1,
             pasteType: 2,
             syncType: "",
             filterMode: true,
             allowPreviewEmoticons: false,
             items: [
                    'source', 'undo', 'redo', 'plainpaste', 'wordpaste', 'clearhtml', 'quickformat',
                    'selectall', 'fullscreen', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor',
                    'bold', 'italic', 'underline', 'hr', 'removeformat', '|', 'justifyleft', 'justifycenter',
                    'justifyright', 'insertorderedlist', 'insertunorderedlist', '|', 'link', 'image','multiimage',
                    'unlink', 'baidumap', 'emoticons' 
                ],
             afterCreate: function () {
                 this.sync();
             },
             afterBlur: function () {
                 this.sync();
             },
             afterChange: function () {
                  K('.word_count1').html("最多20000个字符,已输入" + this.count() + "个字符");
             },
             afterUpload:function(url){
             	
             },
             allowFileManager: false,
             allowFlashUpload: false,
             allowMediaUpload: false,
             allowFileUpload: false,
             formatUploadUrl: false,
             
         });
     });
 }	
</script>
<section class="layui-larry-box">
	<div class="larry-personal">
	    <div class="layui-tab">
            <blockquote class="layui-elem-quote news_search">
		
		<div class="layui-inline">
		    <div class="layui-input-inline">
		    	<input value="" placeholder="请输入关键字" class="layui-input search_input" type="text" id="searchText">
		    </div>
		    <input type="button" id="searchButton" value="查询" class="layui-btn search_btn">
		</div>
		

		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel" href="/user/releases.html">显示所有</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel" href="javascript:void(0);" onclick="document.pageForm.pageNum=1;document.pageForm.articleStatus.value=2;document.pageForm.submit();">显示暂时删除的文章</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel" href="javascript:void(0);" onclick="document.pageForm.pageNum=1;document.pageForm.articleStatus.value=0;document.pageForm.submit();">显示下线的文章</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel" href="javascript:void(0);" onclick="document.pageForm.pageNum=1;document.pageForm.articleStatus.value=3;document.pageForm.submit();">显示下线的文章</a>
		</div>
		<div class="layui-inline">
			注意,已经删除的文章,当超过删除时间10天之后将会自动删除,不可恢复
		</div>
	</blockquote>
            
		         <!-- 操作日志 -->
                <div class="layui-form news_list">
                    <table class="layui-table">
					    <colgroup>
						<col width="50">
						<col>
						<col width="9%">
						<col width="9%">
						<col width="9%">
						<col width="9%">
						<col width="9%">
						<col width="15%">
					</colgroup>
					<thead>
						<tr>
							<th><input name="" lay-skin="primary" lay-filter="allChoose" id="allChoose" type="checkbox">
								<div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>
							</th>
							<th>文章ID</th>
							<th style="text-align:left;">文章标题</th>
							<th>作者 </th>
							<th>发布时间</th>
							<th>文章状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="news_content" id="dataDetail">
					<#if pageVO.data??>
						<#list pageVO.data as item >
						<tr>
							<td><input name="checked" lay-skin="primary" lay-filter="choose" type="checkbox">
								<div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>
							</td>
							<td>${item.articleId ?c}</td>
							<td align="left">${item.articleName}</td>
							<td>${item.articleAuthor}</td>
							<td>${item.createDate?string('yyyy-MM-dd HH:mm:ss')}</td>
							
							<td>被推荐文章</td>
							<td>
									<a class="layui-btn layui-btn-mini news_edit" articleId="${item.articleId?c}" onclick="changeStatus(this,1)"><i class="iconfont icon-edit" ></i> 取消推荐</a>
									<a class="layui-btn layui-btn-mini " data-toggle="modal" data-target="#changeSource" onclick="loadArticle(this);" articleId="${item.articleId?c}"><i class="iconfont icon-edit"></i> 编辑</a>
									<a class="layui-btn layui-btn-mini news_edit"  onclick="changeStatus(this,2);" articleId="${item.articleId?c}" "><i class="iconfont icon-edit" ></i> 删除</a>
									<a class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="1" articleId="${item.articleId?c}"><i class="layui-icon"></i> 彻底删除</a>
							</td>
						</tr>
						</#list>
					</#if>
					</tbody>
					</table>
                     <div class="larry-table-page clearfix">
                          <a href="javascript:;" class="layui-btn layui-btn-small"><i class="iconfont icon-shanchu1"></i>彻底删除</a>
						<#if pageVO??>
					      <form name="pageForm" action="/user/releases.html" method="get">
						      	<input type="hidden" name="pageNum" value="${pageVO.pageNum}">
						      	<input type="hidden" name="q" value="${q!""}">
						      	<input type="hidden" name="articleStatus" value="${articleStatus!""}">
						      	<input type="hidden" name="userId" value="${userId!""}">
						      	<div id="page2" class="page">
									<div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-0">
										<span class="layui-laypage-curr">
							      			<em class="layui-laypage-em"></em>
							      			<em>当前第 ${pageVO.pageNum}页 总共有${pageVO.maxPage}页,总计${pageVO.totalCount}条记录 </em>
						      			</span>
										<#if pageVO.pageNum==1><a href="javascript:void(0)">首页</a>	<#else><a href="javascript:void(0)" onclick="document.pageForm.pageNum.value=1;document.pageForm.submit();">首页</a>   </#if>
										<#if pageVO.pageNum<=1> <a href="javascript:void(0)">上一页</a><#else><a href="javascript:void(0)" onclick="document.pageForm.pageNum.value=(${pageVO.pageNum}-1);document.pageForm.submit();"> 上一页</a>  </#if>
										<#if (pageVO.pageNum>=pageVO.maxPage)> <a href="javascript:void(0)">下一页</a>  <#else><a href="javascript:void(0)" onclick="document.pageForm.pageNum.value=${pageVO.pageNum}+1;document.pageForm.submit();">下一页</a> </#if>		
										<#if (pageVO.pageNum>=pageVO.maxPage)> <a href="javascript:void(0)">最后一页</a> <#else> <a href="javascript:void(0)" onclick="document.pageForm.pageNum.value=${pageVO.maxPage};document.pageForm.submit();">最后一页</a> </#if>>
									</div>				          
						      </div>
					      </form>
			 			</#if>
			         </div>
			    </div>
			     <!-- 登录日志 -->
		    </div>
		</div>
		<div class="modal fade" id="changeSource" role="dialog" aria-labelledby="gridSystemModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="gridSystemModalLabel">修改标题</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<form class="form-horizontal">
								<label class="col-xs-3 control-label">文章标题：</label>
								<div class="col-xs-8 ">
									<input type="text" class="form-control input-sm duiqi" id="edit_articleName" placeholder="" name="articleName">
								</div>
								<label class="col-xs-3 control-label">作者：</label>
								<div class="col-xs-3 ">
									<input type="text" name="articleAuthor" class="form-control input-sm duiqi" id="edit_articleAuthor" placeholder="">
								</div>
								<label class="col-xs-2 control-label">类目：</label>
								<div class="col-xs-3 ">
									<select name="articleStatus"  style="width:100px;height: 30px">
										<option value ="0">下线</option>
										<option value="1">上线</option>
									</select>
								</div>
								<label class="col-xs-2 control-label">类目：</label>
								<div class="col-xs-3 ">
									<select id="leimu" style="width:100px;height: 30px">

									</select>
								</div>
								<div class="col-xs-3 ">
									<select id="leimu2" style="width:100px;height: 30px">

									</select>
								</div>
							</div>
							<div class="form-group">
								<textarea cols="0" rows="5" name="articleContent" class="form-control" id="edit_articleContent" style="margin: 0px -0.5px 0px 0px; height: 250px; width: 100%;">
    							</textarea>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
					<button type="button" class="btn btn-xs btn-green" data-dismiss="modal">保 存</button>
				</div>
			</div>
		</div>
	</div>
	
</section>
<script type="text/javascript" src="common/layui/layui.js"></script>
<script type="text/javascript" src="js/newslist.js"></script>
<script type="text/javascript">
	function editSaveUpdate(){
		var d=$("#editForm").serialize();
		jQuery.post('/api/article/update.html',d,function(data,textStatus,jqXHR){
			
			if(data.code==1){
				alert('sucess');
			}else{
				alert(data.msg);
			}
		},'json');
	}


	var ids="";
	$("#batchDelButton").click(function batchDel(){
		$("input:checkbox[name=checked]:checked").each(function(){
			ids+=$(this).val()+",";
		})
		alert(ids);
		var params={"ids":ids};
		jQuery.post('/api/article/del/batch.html',params,function(data,textStatus,jqXHR){
			if(data.code==1){
				alert('删除成功');
				window.location.href="http://localhost:8000/article/all.html";
			}else{
				alert('fail');
			}
		},'json');
	});
	function changeStatus(obj,status){
		var articleId=$(obj).attr("articleId");
		jQuery.get('/api/article/update/status.html',{"articleId":articleId,"articleStatus":status},function(data,textStatus,jqXHR){
			if(data.code==1){
				alert('sucess');
				window.location.reload();
			}else{
				alert(data.msg);
			}
		},'json');		
	}
	$("#searchButton").click(function(){
		var q=$("#searchText").val();
		var userId=$("input[name=userId]").val();
		jQuery.get('/api/search/article.html',{"q":q,"userId":userId},function(data,textStatus,jqXHR){
				var obj=$("#dataDetail");
			if(data.code==1){
				alert(data.data.data.length);
				if(data.data.data.length<1){
				
				}else{
				obj.empty();
				for(var i=0;i<data.data.data.length;i++){
					var d=data.data.data[i];
					obj.append('<tr><td><input name="checked" lay-skin="primary" lay-filter="choose" type="checkbox"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div></td><td>'+d.articleId+'</td><td align="left">'+d.articleName+'</td><td>'+d.articleAuthor+'</td><td>'+d.createDate+'</td><td><a class="layui-btn layui-btn-mini news_edit"><i class="iconfont icon-edit"></i> 恢复</a><a class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="1"><i class="layui-icon"></i> 彻底删除</a></td></tr>')
					}
					var pageVO=data.data;
					var page=$("#layui-laypage-0");
					page.empty();
					page.append('<span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>当前第 '+pageVO.pageNum+'页 总共有'+pageVO.maxPage+'页,总计'+pageVO.totalCount+'条记录 </em></span>')
					var str="";
					if(pageVO.pageNum<=1){
						str+='<a href="javascript:void(0);">首页</a>';
						str+='<a href="javascript:void(0);">上一页</a>';
					}else{
						str='<a href="javascript:void(0);" onclick="document.pageForm.pageNum.value=1;document.pageForm.submit()"';
						str+='<a href="javscript:void(0);" onclick="document.pageForm.pageNum.value='+(pageVO.pageNum-1)+';document.pageForm.submit();"';
					}
					if(pageVO.pageNum>=pageVO.maxPage){
						str+='<a href="javascript:void(0);">下一页</a>'	
						str+='<a href="javascript:void(0);">最后一页</a>'
					}else{
						str+='<a href="javascript:void(0);" onclick="document.pageForm.pageNum.value='+(pageVO.pageNum+1)+';document.pageForm.submit()">下一页</a>'
						str+='<a href="javascript:void(0)" onclick="document.pageForm.pageNum.value='+(pageVO.maxPage)+';document.pageForm.submit();">最后一页</a>'
					}
					page.append(str);
				}
			}else{
				alert(data.msg);
			}			
		},'json');
	});
	function singleDelButton(obj){
		var articleId=$(obj).attr("articleId");
		var params={"ids":articleId};
		jQuery.post('/api/article/del/batch.html',params,function(data,textStatus,jqXHR){
			if(data.code==1){
				alert('删除成功');
				window.location.href="http://localhost:8000/article/all.html";
			}else{
				alert('fail');
			}
		},'json');
	}
	
    $("#leimu").change(function () {
        $("#leimu2").empty();
        var obj=$("#leimu").get(0).selectedIndex;
        var parentId=$("#leimu").val();
            $.ajax({
                url:'/api/title/'+parentId+'.html',
                type:'post',
                dataType:'json',
                success:function (data) {
					var son2=data.data;
                    var str="";
                    for(i=0;i<son2.length;i++){
                        str+="<option>"+son2[i].titleName+"</option>";
                    }
                    $("#leimu2").append(str);
                }
            })
	})	
	function loadArticle(obj){
		var articleId=$(obj).attr("articleId");
		$("#edit_articleId").val(articleId);
		jQuery.get('/api/article/detail/'+articleId+'.html',function(data,textStatus,jqXHR){
			if(data.code==1){
				var article=data.data;
				$("#edit_articleName").val(article.articleName);
				$("#edit_articleAuthor").val(article.articleAuthor);
				KindEditor.html("#edit_articleContent", article.articleContent);
				if(artilce.titleParentId==0){
					loadTitle()	
				}else{
					
				}
			}else{
				alert(data.msg);
			}
		},'json')
	}
	function loadTitle(obj){
	 	$.ajax({
	        url:'/api/title/'+obj+'.html',
	        type:'post',
	        dataType:'json',
	        success:succFunction
	
	    })
 	}
	function succFunction(father) {
		var obj=father.data;
		var str="";
		for(i=0;i<obj.length;i++){
		    str+='<option value="'+obj[i].titleId+'">'+obj[i].titleName+'</option>';
		}
		$("#leimu").append(str);
    }
</script>
<#include "wrapper-down.html">